<header>
  <div class="bg-white shadow md:hidden">
    <nav class="px-4 py-2">
      <div class="flex justify-between items-center">
        <%= link_to :back do %>
          <%= image_tag "arrow-left.svg", class: "h-[1.5rem] w-auto", alt: "戻る" %>
        <% end %>
        <ul class="flex flex-col space-y-6">
          <li><%= link_to '保存', '#', class: 'rounded-[38px] w-[60px] h-[35px] text-[14px] bg-[#0E99FF] text-white flex items-center justify-center' %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
