<%# スマホ用ヘッダー（md:hidden） %>
<header class="bg-white shadow">
  <nav class="px-4 py-2">
    <div class="font-noto-sans-jp font-bold">
      <%= image_tag "cocoja_logo.svg", class: "h-[4.5rem] w-auto" %>
    </div>
  </nav>
</header>