<div class="container mx-auto px-4 py-8">
  <div class="p-4 sm:p-6">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2">「ココじゃ」使い方ガイド</h1>
  </div>

  <div class="mb-6 ml-6">
    <button onclick="history.back()" class="inline-flex items-center px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 rounded-lg transition-colors duration-200">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
      </svg>
      前のページに戻る
    </button>
  </div>
  <%= render 'static_pages/guide_partials/recommended_features' %>
  <%= render 'static_pages/guide_partials/feature_tabs' %>
</div>
