<!-- 投稿作成ページ全体のコンテナ -->
<div class="min-h-screen flex flex-col">
  <%= render "shared/header/login_header" %>

  <!-- ヘッダー -->
  <header class="mt-6 px-8 md:pl-[calc(288px+2rem)] md:pr-8">
    <div class="max-w-4xl mx-auto w-full">
      <div class="flex items-center justify-center">
        <h1 class="text-lg font-bold text-blue-600">新規投稿作成</h1>
      </div>
    </div>
  </header>

  <div class="px-2 md:pl-[calc(288px+2rem)] md:pr-8">
    <div class="max-w-4xl mx-auto w-full">
      <%= render "posts/form" %>
    </div>
  </div>

  <%= render "shared/footer/login_footer" %>
</div>